.navbar-brand {
    position: absolute;
    left: 50%;
    display: block;
}

.navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-username {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 16px;
    line-height: 20px;
}

.navbar-username > img {
    width: 3.5vh;
    margin-right: 1vh;
    margin-top: -1vh;            
}

.nav-profile{
    display: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-right: 0.2em
}

@media only screen and (max-width: 768px) {

    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        margin-right: -15px;
        margin-left: -15px;
        background-color: rgba(52, 73, 94, 0.9098039215686274);
    }

    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
        color: rgba(236, 240, 241, 0.7215686274509804);
    }

    .navbar-default .navbar-nav>li>a{
        color: #ecf0f1;
    }

    .navbar-header{
        /*padding-right: 15px;*/
        padding-left: 15px;
    }

    .container-fluid{
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav-profile{
        display: block;
        text-align: right;
        padding: 5vh 0 5vh;
    }

    .nav-section-first{
        padding-right: 15px;
        background-color: #2c3e50;
        color: #ecf0f1;
    }

    .nav-section-second{
        padding-right: 15px;                
    }

    .nav-profile > .info{
        margin-top: 2vh;
        text-align: right;               
    }

    .nav-profile > .info > .head{
        margin: -0.8vh 0 0vh;
        font-size: 1.45em;
        font-weight: bold;
        text-align: right;
    }
    .nav-profile > .info > .detail{
        margin: 0 0 1vh;
        font-size: 1em;
        text-align: right;                           
    }

    .nav-profile > img{
        width: 8.7vh;
        margin-right: 2.5vh;
        margin-left: 2.5vh;
        margin-top: 0.3vh;
        border-radius: 50%;
        border: 0.2em solid #19a3ff;
        padding: 1px;  
        float: right;
    }
    .row-mobile{
        margin-right: 15px;
        margin-left: 15px;
    }
    .col-mobile-6{
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}